@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:black; margin-top:50px">
    <div>
        <h1 style="color:white">AkiTek</h1>
        <p style="color:white" class="lead">Loja Online de Telemóveis!</p>
    </div>
    </div>

    <div class="row">
        
        <div class="col-md-4">
            <h2>Produtos</h2>
            <div class="card m-3" style="width: 18rem;">
                <a href="/Produtos/Index">
                    <img class="card-img-top" src="~/img/Home1.jpg" alt="Card header image" height="200" style="object-fit:cover">
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <h2>Novo Produto</h2>
            <div class="card m-3" style="width: 18rem;">
                @if (ViewBag.Erro == 1) {
                    <img class="card-img-top" src="@ViewBag.LastImg" alt="Card header image" height="200" style="object-fit:cover">
                }
                else {
                    <a href="/Produtos/Details/@ViewBag.LastProd.ID">
                        <img class="card-img-top" src="@ViewBag.LastImg" alt="Card header image" height="200" style="object-fit:cover">
                    </a>
                }
            </div>
        </div>

        <div class="col-md-4">
            <h2>Carrinho</h2>
            <div class="card m-3" style="width: 18rem;">
                <a href="/ShoppingCart">
                    <img class="card-img-top" src="~/img/Home3.jpg" alt="Card header image" height="200" style="object-fit:cover">
                </a>
            </div>
        </div>
    </div>
<!-- HEADER -->