@model int
@{
    ViewBag.Title = "Checkout Complete";
}
<h2>Checkout Efetuado com Sucesso</h2>
<hr />
<p>Obrigado por comprar na nossa loja! O seu pedido é o número: @Model</p>
<br />
<p>
    Se quiser pode continuar a ver os produtos da nossa
    @Html.ActionLink("loja","Index", "Produtos")
</p>